:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --tertiary-color: #b697c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAV NAR STYLES START */

header {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    z-index: 99999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color); opacity: 0.2;
    color: var(--tertiary-color);
    border-radius: 5px;
    text-shadow: none;
}

footer {
    padding: 40px 40px;
    text-align: center;
}



/*HEADER / NAVBAR STYLES END */

/* HERO STYLES */
.hero {
    background-size: cover;
    background-attachment: fixed;
}

.hero img {
    width: 100%;
}



.largecontainer {
    display: inline-block
}
.section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border: 5px var(--tertiary-color) solid;
}

.border {
    width: 500px;
}
.about-me p {
    line-height: 1.7;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    text-align: left;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    /*width: 15%;*/
}

.primary-border {
    border-left: 3px solid black;
    height: 100%;
}

.projects {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


}
.project {
    margin: 10px;
    flex: 40%;

}

.active {
    order: -1;
    flex: 1 0 70%;
}
.project img {
    width: 100%;
}

.project img:hover {
    opacity: 0.5;
}

.project-description {
    position: relative;
    bottom: 250px;
    left: 5px;
    width: 200px;
    height: 100px;
    border: 2px solid var(--tertiary-color);
    background-color: black;
}



.section ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
}

.section ul li {
    padding: 0 10px 0 10px;
    text-decoration: underline;
    text-underline-offset: 0.2em;

}
